body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.navbar {
  font-size: small;
  background-color: #291505;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 200px;
}

.navbar a {
  font-family: "Roboto", sans-serif;
  color: #f2f2f2;
  text-decoration: none;
  position: relative;
}

.navbar a:after {
  content: '';
  position: absolute;
  width: 70%;
  height: 3px;
  background-color: #8F542E;
  bottom: -5px;
  left: 15%;
  border-radius: 5px;
}

.navbar img {
  height: 85px;
  width: auto;
  margin-top: 7px;
}

.navbar img.logo-telefone {
  height: 20px;
  width: 20px;
  margin-top: 0;
  margin-right: 2px;
  display: inline-block;
  vertical-align: middle;
}

.navbar a, .navbar .right {
  padding: 10px 0;
}

@media screen and (max-width: 850px) {
  .navbar :not(.logo-text) {
      display: none;
  }

  .logo-text img.logo-telefone {
      height: 30px;
      width: auto;
      margin-right: 5px;
  }

.logo-text img.logo-telefone {
  display: block;
  height: 30px;
  width: auto;
  margin: 0 auto;
  margin-right: 5px;
}
}